services:
  stt-api:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stt-api
    ports:
      - "9091:9090"
    volumes:
      - "~/.cache/huggingface:/root/.cache/huggingface"
      - "./app:/app/app"
      - stt-venv:/app/.venv
    environment:
      - PYTHONUNBUFFERED=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    restart: unless-stopped
    working_dir: /app
    command: uv run uvicorn app.main:app --host 0.0.0.0 --port 9090 --workers 1
    networks:
      - stt-network

networks:
  stt-network:
    external: true

volumes:
  stt-venv:
